.audiourl {width: 225px;}

.catalog-composition {display: block; position: relative; padding: 10px; border-top: 1px solid #F90; min-height: 110px;}
.catalog-composition-description {display: inline-block; width:390px; padding: 0 10px 0 10px; vertical-align: top;}
.catalog-composition-links {display: inline-block; position: relative; right: 5px; top: 5px; width: 210px;}
.catalog-composition-title {display: inline-block; vertical-align: top; width: 200px; text-decoration: underline; clear: left;}

.catalog-section {width: 850px; margin-left: auto; margin-right: auto;}
.catalog-section-title-menulist {margin-left: -100px; position: fixed;}
.catalog-section-title-menu {width: 100px; margin: 5px 0 5px 0; background-color: #f90;}
.catalog-section-title-menu a, .catalog-section-title-menu a:visited {color: white; background-color: #f90;}
.catalog-section-title, a.catalog-section-title, .catalog-section-title a:visited {display: block; clear: both; padding: 10px 0 5px 70px; font-weight: bold !important; font-size: 18px !important; color: #f90;}

.price {text-align: right;}
.score {}​