body {color: white; background-color: black; background-image: url(../Images/black.jpg); }
a {text-decoration: none; font-size: 12px; font-weight: bold; outline: none;}
a:link {color: #ff9900;}
a:visited {color: #008080;}
a:hover {text-decoration: underline;}

.body-section {text-align: center; margin-left: auto; margin-right: auto; height: auto; width: 800px; 
				 background-color: black; padding-bottom: 4px;}
#header-block {width: 478px; display: inline-block;}
.header-section {font-family: Palatino, Verdana, sans-serif; font-size: 36px;
                	border-bottom-width:4px; border-bottom-style:groove; border-bottom-color:#ff9900;}
#rightcolumn {float: right;}
#leftcolumn {float: left;}
.quote-section {margin-top: 50px; margin-left: 20px; margin-right: 20px; height: auto; width: 782px; 
				font-family: Papyrus, Palatino, Verdana, sans-serif; font-size: 14px; font-style: italic;}
.caption {font-family: Papyrus, Palatino, Verdana, sans-serif; font-size: 10px}
.caption2 {line-height: 50px; vertical-align: top; font-family: Papyrus, Palatino, Verdana, sans-serif; font-size: 12px}
.copyright {text-align: center; margin-left: auto; margin-right: auto; 
			height: 20px; width: 800px; background-color: black; font-family: Palatino, Verdana, sans-serif; font-size: 12px;border-top-width:4px; 
			border-top-style:groove; border-top-color:#ff9900; padding-top: 50px;}
.catalog-category {text-align: left; border: "2"; padding-top: 20px; padding-bottom: 4px; margin: auto; 
					height: auto; width: 782px; font-family: Palatino; font-size: 24px;}
.catalog-title {font-size: 16px; padding-top: 10px; vertical-align: top;}
.title-description {font-size: 14px; padding-left: 15px; padding-bottom: 15px;}
.pdf {vertical-align: middle;}
.audio {vertical-align: bottom;}
