@font-face {font-family: "Palatino"; src: url(../fonts/palatino.ttf) format("truetype");}
body {font-family: "Palantino"; color: white; background-color: black; background-image: url(../Images/black.jpg); margin: 0;}
a {text-decoration: none; font-size: 12px; font-weight: bold; outline: none;}
a:link {color: #ff9900;}
a:visited {color: #008080;}
a:hover {text-decoration: underline;}

.audio {vertical-align: bottom;}
.awards {color: white; text-align: justify; vertical-align: top; font-size: 14px;}
.body-section {text-align: center; margin-left: auto; margin-right: auto; height: auto; width: 1040px; background-color: black; padding-bottom: 4px;}
#books-image {float: left; padding: 10px 0;}

.caption {font-size: 10px}
.caption2 {text-align: center; font-size: 14px;}

.catalog-category {text-align: left; border: "2"; padding-top: 20px; padding-bottom: 4px; margin: auto; height: auto; width: 782px; font-size: 24px;}
#catalog-title {font-size: 16px; font-weight: bold; padding-top: 10px; vertical-align: top; text-indent: 20px;}
.container {width: 1040px; margin-left: auto; margin-right: auto; background-color: black;}
.copyright {height: 20px; margin-left: auto; margin-right: auto; padding-top: 50px; border-right: 40px dotted black; border-left: 40px dotted black; border-top: 2px groove #F90; text-align: center; font-size: 12px; clear: left;}

#footer-wrapper {width: 1040px; display: block; margin-left: auto; margin-right: auto; background-color: black;}

#header {width: 1040px; border-bottom: 4px solid #ff9900; padding: 50px 0 0 0;}
#homepage-left {display: inline-block; width: 700px;}
#homepage-right {display: inline-block; width: 300px; float: right; border-left: 1px solid #F90; border-bottom: 10px dotted black; border-top: 50px dotted black;}
#homepage-header {}
#homepage-header-title {border-right: 120px dotted black; border-left: 120px dotted black; border-bottom: 2px solid #F90; padding: 0;}
.header-section {font-size: 36px; border-bottom-width:4px; border-bottom-style:groove; border-bottom-color:#ff9900;}
	#rightcolumn {float: right;}
	#leftcolumn {float: left;}
#header-text {font-variant: small-caps; font-size: 38px; text-align: center; padding: 15px 0;}
#header-subtext {font-size: 18px; text-align: center;}
#header-quote {font-size: 16px; padding: 10px; text-align: center; float: left; font-style: italic;}
#image-quote-wrapper {width: 275px; float: right; margin-top: -40px;}
.image-captioned {display: inline-block; padding-left: 115px;}
#piano-image {padding: 20px; float: left;}
#image-logo {padding: 20px; float: right; margin-top: 60px;}

.Links a,.Links a:visited {width: 205px; float: left; margin-top: 2px;  padding: 2px 0 0 5px; color: #ff9900; border: 1px solid #545; border-radius: 5px; background-color: #210; display: block; clear: both; text-align: center;} 
.Links {clear: right; padding: 30px 0 0 45px;}

#main-content {}
.homepage-content #main-content {width: 700px;}
#main-content-body {display: inline-block;}
#main-content-body li {padding: 30px 0 0;}
#main-content-wrapper {margin-left: auto; margin-right: auto;}
#mcnayimage {vertical-align: top; text-align: center;}

.paragraph {text-align: left; margin-left: auto; margin-right: auto; height: auto; background-color: black;}
.paragraph-text {text-align: center; margin-top: 10px; font-size: 14px;}
.paragraph-list {padding: 20px; text-align: left; height: auto; width: 820px;}	

.paragraph-commisions {color: white; text-align: justify; vertical-align: top; font-size: 14px;}
.paragraph-commisions li {list-style-type: none;}
.performances {color: white; text-align: justify; vertical-align: top; font-size: 14px;}
	#header-block {width: 478px; display: inline-block;}

.pdf {vertical-align: middle;}
.quote-section {margin-top: 50px; margin-left: 20px; margin-right: 20px; height: auto; width: 782px; font-size: 14px; font-style: italic;}
#title-description {font-size: 14px; padding-left: 15px; padding-bottom: 15px; text-indent: 28px;}
.image-quote-credit {font-size: 14px; text-align: center;}
